
.aboutCard{
    height: 300px;
    margin: 10% 0% ;
    overflow: hidden;
    width: 90%;
    max-width: 300px;
    box-sizing: border-box;
    position: relative;
}
.cardImg{
    height: 100%;
    width: 100%;
    border-radius: 4px;
    opacity: 0.9;
transition: .5s;
}
.cardBody{
    margin: -20% 0px 0 0; 
    height: inherit;
    width: 100%;
    padding: 11px;
    
    box-sizing: border-box;
    position: absolute;
    
    background: rgb(7, 20, 50,0.6);
    /* opacity: 0.6; */
    
    transition: .6s;
}

.cardTitle{
color: rgb(222, 231, 222);
    text-align: center;
font-size: 1.3rem;
}
.cardText{
    visibility: hidden;
    opacity: 0;
font-size: 1.2rem;
margin: 5% 2% 2% 5%;
transition: 1s;
}
.aboutCard:hover .cardBody{
    height: 80%;
    margin:-90% 0 0 0;
    
}
.aboutCard:hover .cardText{
visibility: visible;
opacity: 1;
}


.aboutCard:hover .cardImg{
    transform: scale(1.1);
}