.AdvantageBox{
    /* border: 2px solid red; */
    background-color: rgb(7, 20, 50);
    height: 90vh;
    width: 90%;
    color: aliceblue;
    margin: 2% 0 0 0;
}
.advantageContentBoxHeading{
    font-size: 2rem;
    margin: 0% 3%;
}
.AdvantageIcon{
    font-size: 1.5rem;
    margin: 2% 2%;
}
.advantagepoint{
    
    /* border: 2px solid yellow; */
    font-size: 1.2rem;
    margin: 2% 0;
}
.wrapper{
    /* border: 2px solid green; */
    display: flex;
    justify-content: flex-start;
}
.advantageImg{
    /* border: 2px solid red; */
    height: inherit;
    width: 50%;
    object-fit: cover;
    filter: grayscale(100);
    transition: .5s;
}
.advantageImg:hover{
    filter: none;
}
.headingA{

    /* border: 2px solid brown; */
    font-size: 3rem;
    letter-spacing: 1px;
    margin:0 0 2% 1%;
    font-weight: bold;
}
.AdvantageContainer{
    box-sizing: border-box;
    padding-top: 90px;
}


@media only screen and (max-width: 800px) {
    .AdvantageBox{
        flex-direction: column;
        height: auto;
        padding: 2%;
        box-sizing: border-box;
    }
    .advantageImg{
        width: 100%;
        margin:  5%;
    }
  }
  @media only screen and (max-width: 400px) {
    .advantagepoint{
        font-size: 1rem;
    }
  }