.smIcons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer{
    height: 20vh;
    border-top: 2px solid grey;
    background-color: black;
    /* background-color: black; */
    display: grid;
    grid-template-columns:1rem 5fr 0.8fr 2rem;
    align-items: center;

}
.copyright{
    grid-column: 2/3;
}