*{
  box-sizing: border-box;
}
body{
  background-color: #ffffff;
  color: black;
}
.subsHeading{
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  margin: 2% 0;
}
.CircleShape{
  height: 260px;
  width: 260px;
  position: absolute;
  background-image:linear-gradient(to bottom right ,rgb(7, 20, 50),white) ;
  z-index: -5;
  border-radius:100%;
  overflow: hidden;
  
  -webkit-box-shadow: -18px 11px 62px -21px rgba(1,7,42,1);
  -moz-box-shadow: -18px 11px 62px -21px rgba(1,7,42,1);
  box-shadow: -18px 11px 62px -21px rgba(1,7,42,1);
}
.a{
  
  top: 250vh;
  left: -10%;
}
.b{
  right: 0%;
  top: 350vh;

}
.c{
  
  left: 3%;
  top: 450vh;
}

